.secao__sobre-nos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 300px;
    text-align: center;
}

.secao__sobre-nos__subtitulo{
    font-size: 1rem;
    color: var(--cor-secundaria);
    margin-bottom: 24px;
}
.secao__sobre-nos__titulo{
    font-size: 3rem;
    color: var(--cor-titulos);
    margin-bottom: 24px;
}